.plugin-sample {
  &__custom-tab {
    background-color: var(--b3-theme-background);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__custom-dock {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
[custom-plugin-image-occlusion]{ 
  img {
  box-shadow: 0.1em 0.1em 0.2em #aaaaaa60;
  border-radius: 5px;
  }
  img:hover {
    box-shadow: 0.1em 0.1em 0.2em #aaaaaab0;
    transition: all ease-in 0.3s;
  }
}
div.card__block [custom-plugin-image-occlusion]{
  img {
    box-shadow: none;
    border: none;
  }
  img:hover {
    box-shadow: 0.1em 0.1em 0.2em #aaaaaab0;
    transition: all ease-in 0.3s;
  }
}


.plugin-occasion-container canvas{
  z-index: 100;
}
#plugin-float-image-occasion canvas{
  border-radius: 5px;
  box-shadow: 0.1em 0.1em 0.2em #aaaaaaf0;
  transition: all ease-in 0.3s;
  z-index: 2;
  opacity: 0;
  &:hover{
    opacity: 1;
    box-shadow: 0.1em 0.1em 0.2em #aaaaaaf0;
    transition: all ease-in 0.2s;
  }
}